.footer {
  padding-top: 45px;
  background-color: $color-dark;
  ul,
  li {
    list-style: none;
    padding: 0;
  }

  h4 {
    color: $color-light;
  }

  &-a a,
  &-b a,
  &-c a,
  &-d a {
    display: block;
    color: ($color-textgray - #222222);

    &:hover,
    &:focus {
      color: $color-light;
    }
  }

  .container .row {
    margin-bottom: 20px;
  }
}