.new-films {
  @extend %section-films;

  &-item {
    @extend %item-padding;
  }

  h1 {
    font-size: 3rem;
    font-family: $font-header;
    margin-top: 0;
    line-height: 0.8;
    margin-bottom: 52px;

    span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 1920px;
        background-color: rgba($color-accent, 0.45);
        bottom: 14px;
        left: 104%;
        height: 3px;
      }
    }
  }
}

.top-week {
  @extend %section-films;

  &-item {
    @extend %item-padding;
  }

  h2 {
    font-size: 2.5rem;
    font-family: $font-header;
    margin-top: 0;
    line-height: 0.8;
    margin: 50px 0 50px 45px;

    span {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1920px;
        background-color: rgba($color-accent, 0.45);
        top: 16px;
        right: 106%;
        height: 3px;
      }
      
      &::after {
        content: '';
        position: absolute;
        width: 1920px;
        background-color: rgba($color-accent, 0.45);
        bottom: 9px;
        left: 105%;
        height: 3px;
      }
    }
  }
}
