.new-films {
  @extend %section-films;

  &-item {
    @extend %item-padding;
  }

  h1 {
    font-size: 3rem;
    font-family: $font-header;
    margin-top: 0;
    line-height: 0.8;
    margin-bottom: 52px;

    span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 1920px;
        background-color: rgba($color-accent, 0.45);
        bottom: 14px;
        left: 104%;
        height: 3px;
      }
    }
  }
}

.top-week {
  @extend %section-films;

  &-item {
    @extend %item-padding;
  }

  h2 {
    @extend %h2-main;
  }
}

.movie-news {
  overflow: hidden;

  h2 {
    @extend %h2-main;
  }

  h3 {
    margin-top: 0;
    transition: color 0.2s ease-in;
  }

  &__item {
    &:hover {
      .thumbnails {
        background-color: $color-accent;
      }

      h3 {
        color: $color-accent;
      }

      .btn {
        background-color: $color-accent;
      }
    }
  }

  .thumbnails {
    padding: 4px;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease-in;
    
    img {
      max-width: 100%;
    }
  }

  &__text {
    text-align: justify;
  }

  .btn {
    float: right;
    margin-bottom: 50px;
    transition: background-color 0.2s ease-in;
  }
}
