.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.new-films, .top-week {
  overflow: hidden;
}

.new-films .thumbnail, .top-week .thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.new-films .thumbnail img, .top-week .thumbnail img {
  width: 100%;
}

.new-films .thumbnail:hover, .top-week .thumbnail:hover {
  background-color: #df8a13;
}

.new-films .thumbnail:hover h3, .top-week .thumbnail:hover h3 {
  color: #ffffff;
}

.new-films .thumbnail h3, .top-week .thumbnail h3 {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.new-films .row, .top-week .row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.new-films-item, .top-week-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.top-week h2, .movie-news h2, .description h2, .reviews h2, .form h2 {
  font-size: 2.5rem;
  font-family: "PT Serif", serif;
  margin-top: 0;
  line-height: 0.8;
  margin: 50px 0 50px 45px;
}

.top-week h2 span, .movie-news h2 span, .description h2 span, .reviews h2 span, .form h2 span {
  position: relative;
}

.top-week h2 span::before, .movie-news h2 span::before, .description h2 span::before, .reviews h2 span::before, .form h2 span::before {
  content: '';
  position: absolute;
  width: 1920px;
  background-color: rgba(223, 138, 19, 0.45);
  top: 16px;
  right: 106%;
  height: 3px;
}

.top-week h2 span::after, .movie-news h2 span::after, .description h2 span::after, .reviews h2 span::after, .form h2 span::after {
  content: '';
  position: absolute;
  width: 1920px;
  background-color: rgba(223, 138, 19, 0.45);
  bottom: 11px;
  left: 105%;
  height: 3px;
}

.navbar-inverse {
  background-color: #191919;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  margin-bottom: 30px;
  border: none;
  background-color: #f1f1f1;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
}

.panel-title {
  letter-spacing: 0.1em;
  font-size: 1.2rem;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

.header {
  margin-bottom: 60px;
}

.header-logo {
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}

.header-logo__title {
  display: block;
  font-family: "PT Serif", serif;
  color: #df8a13;
}

.header-logo__description {
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.main {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.main .site-search {
  margin: -15px 0 45px;
}

.new-films h1 {
  font-size: 3rem;
  font-family: "PT Serif", serif;
  margin-top: 0;
  line-height: 0.8;
  margin-bottom: 52px;
}

.new-films h1 span {
  position: relative;
}

.new-films h1 span::after {
  content: '';
  position: absolute;
  width: 1920px;
  background-color: rgba(223, 138, 19, 0.45);
  bottom: 14px;
  left: 104%;
  height: 3px;
}

.new-films h3 {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.top-week h3 {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.movie-news {
  overflow: hidden;
}

.movie-news h3 {
  color: #165690;
  margin-top: 0;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.movie-news__item:hover .thumbnails {
  background-color: #df8a13;
}

.movie-news__item:hover h3 {
  color: #df8a13;
}

.movie-news__item:hover .btn {
  background-color: #df8a13;
}

.movie-news .thumbnails {
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.movie-news .thumbnails img {
  max-width: 100%;
}

.movie-news__text {
  text-align: justify;
}

.movie-news .btn {
  float: right;
  margin-bottom: 50px;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.film-video {
  overflow: hidden;
}

.film-video h1 {
  font-size: 3rem;
  font-family: "PT Serif", serif;
  margin-top: 0;
  line-height: 0.8;
  margin-bottom: 52px;
}

.film-video h1 span {
  position: relative;
}

.film-video h1 span::after {
  content: '';
  position: absolute;
  width: 1920px;
  background-color: rgba(223, 138, 19, 0.45);
  bottom: 14px;
  left: 104%;
  height: 3px;
}

.film-video .embed-responsive {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.film-video__well {
  border-radius: 0 0 4px 4px;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 38px;
}

.film-video__item-info {
  margin: 0 13px;
}

.film-video__item-info .badge {
  font-size: 0.8em;
}

.description {
  overflow: hidden;
}

.description__well {
  margin-bottom: 38px;
}

.reviews {
  overflow: hidden;
}

.reviews .panel-heading {
  background-color: #df8a13;
  color: #ffffff;
}

.reviews .glyphicon {
  margin-right: 5px;
}

.reviews .panel:last-child {
  margin-bottom: 42px;
}

.form {
  overflow: hidden;
}

.form__comment {
  min-height: 215px;
}

.form .btn {
  font-size: 1.125rem;
  float: right;
  margin-bottom: 20px;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider img {
  width: 100%;
}

.left-sidebar {
  margin-bottom: 60px;
}

.site-news__item {
  position: relative;
  min-height: 85px;
  margin-bottom: 15px;
  cursor: pointer;
}

.site-news__item:last-child {
  margin-bottom: 0;
}

.site-news__item:last-child::after {
  display: none;
}

.site-news__item:hover .site-news__title a {
  color: #df8a13;
}

.site-news__item:hover .site-news__img {
  background-color: #df8a13;
}

.site-news__item::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -5px;
  background-color: #dddddd;
  height: 1px;
  width: calc(100% - 85px);
}

.site-news__img {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.site-news__img img {
  width: 100%;
}

.site-news__title {
  margin-bottom: 10px;
}

.site-news__title a {
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.site-news__date {
  text-align: right;
  font-size: 0.8rem;
  color: #8d9196;
}

.top-films .panel-body {
  padding-left: 0;
  padding-right: 0;
}

.top-films .list-group {
  margin-bottom: 0;
}

.top-films .badge {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
}

.top-films-item {
  padding: 0;
  background-color: transparent;
  border-top: 1px solid #dddddd;
  border-right: none;
  border-left: none;
  margin-left: -1px;
  margin-right: -1px;
}

.top-films-item a {
  display: block;
  padding: 10px 40px 10px 15px;
}

.top-films-item:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films-item:last-child {
  border-bottom: none;
  border-radius: 0;
}

.top-films-item:hover {
  background-color: #df8a13;
}

.top-films-item:hover a {
  color: #ffffff;
}

.top-films-item:hover .badge {
  background-color: #232323;
}

.footer {
  padding-top: 45px;
  background-color: #232323;
}

.footer ul,
.footer li {
  list-style: none;
  padding: 0;
}

.footer h4 {
  color: #ffffff;
}

.footer-a a,
.footer-b a,
.footer-c a,
.footer-d a {
  display: block;
  color: #6b6f74;
}

.footer-a a:hover, .footer-a a:focus,
.footer-b a:hover,
.footer-b a:focus,
.footer-c a:hover,
.footer-c a:focus,
.footer-d a:hover,
.footer-d a:focus {
  color: #ffffff;
}

.footer .container .row {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
  .new-films h1 {
    font-size: 2rem;
  }
  .top-week h2 {
    font-size: 1.75rem;
  }
  .movie-news h2 {
    font-size: 1.75rem;
  }
  .movie-news h3 {
    font-size: 1.25rem;
  }
  .film-video h1 {
    font-size: 2rem;
  }
  .film-video__item-info {
    margin: 0 5px;
  }
  .description h2 {
    font-size: 1.75rem;
  }
  .reviews h2 {
    font-size: 1.75rem;
  }
  .form h2 {
    font-size: 1.75rem;
  }
}
